{% extends './blocks/user.html' %}

{% block user %}

<section style="padding-top: 5%;">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div id="login-box" class="d-flex flex-column justify-content-center">
            <div class="login-box-header">
                <h4 style="color: rgb(139,139,139);margin-bottom: 0px;font-weight: 400;font-size: 27px;">
                   Add mark
                </h4>
            </div>
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' or message.tags == 'warning'  %}
            <div class="alert alert-warning m-4" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            
            <div class="email-login" style="background-color: #ffffff;">
                
                
                <textarea id="submisssion_thoughts" required class="form-control my-3" name="submisssion_thoughts" placeholder="Description"></textarea>

                <input placeholder="Mark" required  id="submisssion_marks" class="form-control mb-3" type="text" name="submisssion_marks"
                      style="margin-bottom: 1rem;" />
             


        




            </div>
            <div class="submit-row" style="margin-bottom: 8px;padding-top: 0px;">

                <button id="submit-id-submit" class="btn btn-primary d-block box-shadow w-100" type="submit"
                    style="background: var(--bs-indigo);">Remark</button>
            </div>
            <div id="login-box-footer" style="padding: 10px 20px;padding-bottom: 23px;padding-top: 18px;"></div>
        </div>
    </form>
</section>




{% endblock %}