{% extends './blocks/user.html' %}

{% block user %}

<section style="padding-top: 5%;">

   


    <div class="container">

        <div stule='display:flex; align-items:center; justify-content:center '>
            <h2>{{course.course_name}}</h2>
        </div>

        <div class="row d-flex flex-row flex-wrap mb-4">
            <div class="col-auto col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div
                        class="card-body d-flex d-sm-flex d-xl-flex flex-column justify-content-sm-center justify-content-xl-center">
                        <div class="card-image mb-4"><img src="/static/assets/img/assignment.jpg"></div>
                        <div class="d-flex justify-content-center align-items-center">
                            
                            <a class="btn btn-secondary" href="/subject-assignment/?course_id={{course.id}}&user_id={{user.id}}"

                                role="button" style="width: 100%;">View Assignment</a></div>
                    </div>
                </div>
            </div>
            <div class="col-auto col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div
                        class="card-body d-flex d-sm-flex d-xl-flex flex-column justify-content-sm-center justify-content-xl-center">
                        <div class="card-image mb-4"><img src="/static/assets/img/notice.png"></div>
                        <div class="d-flex justify-content-center align-items-center">
                            
                            <a class="btn btn-secondary" href="/subject-notice/?course_id={{course.id}}" 
                                role="button" style="width: 100%;">View Notices</a></div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-auto col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div
                        class="card-body d-flex d-sm-flex d-xl-flex flex-column justify-content-sm-center justify-content-xl-center">
                        <div class="card-image mb-4"><img src="/static/assets/img/submissions.png"></div>
                        <div class="d-flex justify-content-center align-items-center"><a class="btn btn-secondary"
                                role="button" style="width: 100%;">My Courses</a></div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <div class="row d-flex flex-row flex-wrap mb-4">
            {% comment %} <div class="col-auto col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div
                        class="card-body d-flex d-sm-flex d-xl-flex flex-column justify-content-sm-center justify-content-xl-center">
                        <div class="card-image mb-4"><img src="/static/assets/img/notifications.png"></div>
                        <div class="d-flex justify-content-center align-items-center"><a class="btn btn-secondary"
                                role="button" style="width: 100%;">View Submissions</a></div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
{% endblock %}